/* Stiziles */

html, body {
  background: #E6E6E6;
  color: #333;
  text-align: center;
}

/* main */
#content{
  width: 100%;
  & h1 {
    margin: 0;
    padding: 0.67em;
  }
}
.main {
  padding: 0 20px;
  height: 100%;
  background-color: white;
  img {
    width: 103px;
    height: 89px;
    margin-bottom: 10px;
    text-align: center;
  }

}
#footer {
  padding: 0 20px;
  clear: both;
}

/* transitions */

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}
